@import "tailwindcss";

.tabs {
    display: flex;
}

.tab {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.content {
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    width: 400px;
}

.fields {
    display: flex;
    gap: 10px;
}

input{
    border: 1px solid black;
}