@import "tailwindcss";

.tabs {
    display: flex;
}

.tab {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.content {
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    width: 400px;
}

input{
    border: 1px solid black;
}

button{
    border: 1px solid black;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
}

.heading {
  display: flex;
}

.errors {
  color: red;
  display: block;
  font-size: small;
}
